<tail-filters class="max-h-[100px]">
    {%- for filter in collection.filters -%}
         {%- if filter.type == 'boolean' or filter.type == 'list' -%}
                {% if filter.label contains "hair_type" %}
                      <!-- hair_type filters are round images -->
                      <ul class="flex justify-center image--filters">
                        {%- for filter_value in filter.values -%}
                          <apply-filter>
                            {% if filter_value.label == 'ondulés' %}
                                <li class="relative m-5">
                                  <label class="flex flex-col-reverse items-center first-letter:capitalize" for="HairFilter-{{ filter.param_name }}-{{ forloop.index }}">
                                    <input type="checkbox"
                                    name="{{ filter_value.param_name }}"
                                    value="{{ filter_value.value }}"
                                    id="HairFilter-{{ filter.param_name }}-{{ forloop.index }}"
                                    {% if filter_value.active -%}checked{%- endif %}
                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                  >
                                  <span class="my-2 text-xs font-extrabold uppercase">{{ filter_value.label }}</span>
                                  <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-ondules.png' | asset_url }}" alt="">
                                </label>
                              </li>

                            {% elsif filter_value.label == 'bouclés' %}
                                <li class="relative m-5">
                                  <label class="flex flex-col-reverse items-center first-letter:capitalize" for="HairFilter-{{ filter.param_name }}-{{ forloop.index }}">
                                    <input type="checkbox"
                                    name="{{ filter_value.param_name }}"
                                    value="{{ filter_value.value }}"
                                    id="HairFilter-{{ filter.param_name }}-{{ forloop.index }}"
                                    {% if filter_value.active -%}checked{%- endif %}
                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                  >
                                  <span class="my-2 text-xs font-extrabold uppercase">{{ filter_value.label }}</span>
                                  <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-boucles.png' | asset_url }}" alt="">
                                </label>
                              </li>

                           {% elsif filter_value.label == 'frisés' %}
                              <li class="relative m-5">
                                <label class="flex flex-col-reverse items-center first-letter:capitalize" for="HairFilter-{{ filter.param_name }}-{{ forloop.index }}">
                                  <input type="checkbox"
                                  name="{{ filter_value.param_name }}"
                                  value="{{ filter_value.value }}"
                                  id="HairFilter-{{ filter.param_name }}-{{ forloop.index }}"
                                  {% if filter_value.active -%}checked{%- endif %}
                                  {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                >
                                <span class="my-2 text-xs font-extrabold uppercase">{{ filter_value.label }}</span>
                                <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-frises.png' | asset_url }}" alt="">
                              </label>
                            </li>

                          {% elsif filter_value.label == 'crepus' %}
                              <li class="relative m-5">
                                <label class="flex flex-col-reverse items-center first-letter:capitalize" for="HairFilter-{{ filter.param_name }}-{{ forloop.index }}">
                                  <input type="checkbox"
                                  name="{{ filter_value.param_name }}"
                                  value="{{ filter_value.value }}"
                                  id="HairFilter-{{ filter.param_name }}-{{ forloop.index }}"
                                  {% if filter_value.active -%}checked{%- endif %}
                                  {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                >
                                <span class="my-2 text-xs font-extrabold uppercase">{{ filter_value.label }}</span>
                                <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-frises.png' | asset_url }}" alt="">
                               </label>
                             </li>
                          {% endif %}
                        </apply-filter>

                        {%- endfor -%}
                      </ul>
                      <!-- Aply filters -->
                        <div class="invisible block w-full px-3 py-4 mt-5 text-sm font-extrabold text-center border rounded-md text-capucine border-capucine">
                            <input type="submit" value="Apply">
                        </div>
                {% endif %}
            {%- endif -%}
    {%- endfor -%}
  </tail-filters>