<tail-tabs class="block">
  <tabs-buttons class="gap-4 pb-8 mb-8 text-sm text-ecorce flex flex-row flex-nowrap overflow-x-auto w-full">
    {%- for filter in results.filters -%}
      <span class="font-bold uppercase text-acajou selected:border-b border-ecorce selected:text-ecorce whitespace-nowrap">
        {% if filter.label contains "hair_type" %}
          Type de Cheveux
        {% else %}
          {{ filter.label | remove: 'filter_' | prepend: 'Par ' }}
        {% endif %}
      </span>
    {% endfor %}
  </tabs-buttons>
  <tabs-panels>
      {%- for filter in results.filters -%}
        {%- if filter.type == 'boolean' or filter.type == 'list' -%}
          <apply-filter>
            {% if filter.label contains "hair_type" %}
              <!-- hair_type filters are round images -->
              <ul class="flex flex-wrap text-sm image--filters">
                {%- for filter_value in filter.values -%}
                  <li class="relative w-1/2 mb-4">
                    <label class="flex flex-col-reverse items-center first-letter:capitalize" for="m-Filter-{{ filter.param_name }}-{{ forloop.index }}">
                      <input type="checkbox"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      id="m-Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      {% if filter_value.active -%}checked{%- endif %}
                      {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                    >
                    {% if filter_value.label == 'ondulés' %}
                      <p class="text-center">Astuce : Vos  cheveux ondulent  dans la longueur, en forme de S</p>
                      <span class="my-2 font-extrabold uppercase">{{ filter_value.label | remove: "filter_" }}</span>
                      <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-ondules.png' | asset_url }}" loading="lazy" alt="">
                    {% elsif filter_value.label == 'bouclés' %}
                      <p class="text-center">Astuce :  Dès la racine, vos nombreuses boucles sont denses et serrées</p>
                      <span class="my-2 font-extrabold uppercase">{{ filter_value.label | remove: "filter_" }}</span>
                      <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-boucles.png' | asset_url }}" loading="lazy" alt="">
                    {% elsif filter_value.label == 'frisés' %}
                    <p class="text-center">Astuce :  Vous avez des boucles larges, souples, de tailles  différentes</p>
                        <span class="my-2 font-extrabold uppercase">{{ filter_value.label | remove: "filter_" }}</span>
                        <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-frises.png' | asset_url }}" loading="lazy" alt="">
                    {% elsif filter_value.label == 'crepus' %}
                      <p class="text-center">Astuce : Vos  cheveux forment de multiples petits  ressorts</p>
                      <span class="my-2 font-extrabold uppercase">{{ filter_value.label | remove: "filter_" }}</span>
                      <img class="p-1 border border-gray-300 rounded-full" src="{{ 'filter-frises.png' | asset_url }}" loading="lazy" alt="">
                    {% endif %}
                  </label>
                </li>
              {%- endfor -%}
              </ul>
            {% else %}
            <!-- default checkbox filters -->
              <ul class="default--filters mobile">
                {%- for filter_value in filter.values -%}
                  <li class="relative mb-2">
                      <label class="flex items-center text-sm first-letter:capitalize" for="m-Filter-{{ filter.param_name }}-{{ forloop.index }}">
                      <input type="checkbox"
                        class="mr-2 uppercase"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="m-Filter-{{ filter.param_name }}-{{ forloop.index }}"
                        {% if filter_value.active -%}checked{%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                      >
                      {{ filter_value.label | remove: 'filter_' }}
                    </label>
                  </li>
                {%- endfor -%}
              </ul>

            {% endif %}
          </apply-filter>
        {%- endif-%}
      {% endfor %}
  </tabs-panels>
</tail-tabs>