<div class="py-10">
  <div
    style="scroll-margin: 20px;"
    id="{{id}}-Anchor-conseils"
    class="w-11/12 max-w-[840px] mx-auto scroll-m-20 ">
    <div class="flex flex-col gap-7">
      <div class="flex flex-col justify-center items-center p-0 sm:px-[10px] md:basis-7/12 text-center" style=" background-color: {{ data.background_color }}">
        <h2 class="py-2 font-extrabold text-base md:text-[34px] md:pb-4" style="color: {{ data.title_color}}">
          {{ data.title }}
        </h2>
        <div class="text-base newsletter__text" style="color: {{ data.text_color}}">
          {{ data.text }}
        </div>
      </div>
    </div>
  </div>
</div>