<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="" name="theme-color">

    <!-- Just Button  -->
    <script src="https://checkout-button-shopify.vercel.app/just-pay-button.js" type="module"></script>
    <link
      href="https://checkout-button-shopify.vercel.app/styles.css"
      rel="stylesheet"
      crossorigin>
    <style>
      #just-frame-payment {
        z-index: 9999999999;
      }
      just-pay-button::part(just-button-lock) {
        opacity: 0;
      }
    </style>
    <!-- End of Just Button  -->
    {% if template contains 'search' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if handle contains 'products' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if handle contains 'collections' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if handle contains 'pages' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if handle contains 'blogs' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% if handle contains 'account' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link
      crossorigin
      href="https://cdn.shopify.com"
      rel="preconnect">
    <script src="{{ 'global.js' | asset_url }}" async></script>
    <script src="{{ 'lazysides.min.js' | asset_url }}" async></script>

    {% render 'css-variables' %}

    <!-- TAILWIND CONFIGURATION -->
    {% if theme.name != "staging" and theme.name != "production" %}

      {{ 'critical.css' | asset_url | stylesheet_tag }}
      <script rel="preconnect" src="https://cdn.tailwindcss.com"></script>
      <script preload>
        (async () => {
        const [configRes, layoutRes, styleRes] = await Promise.all([

                                                                                                                                                                                                                                                                                                                                    fetch("{{ 'tailwind.config.js' | asset_url }}"),
        fetch("{{ 'tail.layout.css' | asset_url }}"),
        fetch("{{ 'tail.style.css' | asset_url }}")
        ]);
                                                                                                                                                                                                                                                                                                                                  const text = await configRes.text()
                                                                                                                                                                                                                                                                                                                                  console.log({text});
                                                                                                                                                                                                                                                                                                                                  tailwind.config = eval(`(${
                                                                                                                                                                                                                                                                                                                                    text.replace("module.exports = ", "").replace("module.exports=", "").replace("};", "}")
                                                                                                                                                                                                                                                                                                                                  })`);
                                                                                                                                                                                                                                                                                                                                  const apply = document.createElement("style");
                                                                                                                                                                                                                                                                                                                                  apply.setAttribute("type", "text/tailwindcss");
                                                                                                                                                                                                                                                                                                                                  apply.innerHTML = `${
                                                                                                                                                                                                                                                                                                                                    (await Promise.all([layoutRes.text(), styleRes.text()])).join("\n")
                                                                                                                                                                                                                                                                                                                                  }`;
                                                                                                                                                                                                                                                                                                                                  document.head.appendChild(apply);
                                                                                                                                                                                                                                                                                                                                })()

      </script>


      <script src="{{ 'tail.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.modal.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.drawer.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.cart.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.popup.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.accordion.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.carousel.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.header.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.marquee.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.details.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.tabs.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.atc.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.megamenu.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.filters.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.dropzone.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.account.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.variants.js' | asset_url }}" preload></script>
      <script src="{{ 'tail.results.js' | asset_url }}" preload></script>

    {% else %}
      {% render "styles" %}
      {% render "scripts" %}
    {% endif %}

    <script src="{{ 'tail.algolia.js' | asset_url }}" preload></script>

    <script>
      const url = new URL(window.location.href);
      const reset_password_url = decodeURIComponent(url.searchParams.get("reset_password_url"));
      if (reset_password_url && reset_password_url !== "null") {
        window.location.href = reset_password_url;
      }
    </script>
    <!-- END OF TAILWIND CONFIGURATION -->

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link
        crossorigin
        href="https://fonts.shopifycdn.com"
        rel="preconnect">
    {%- endunless -%}

    <title>
      {{- page_title -}}{%- if current_tags %}
        | tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        | Page {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        | {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script type="text/javascript">
      {% render 'GTM-scripts' %}
    </script>

    {{ content_for_header }}


    <script type="text/javascript">
      var yotpo_app_key = "jVZbEAhpSncdn5wMvZU8H8QoZgUnBnc8LcIpTdJI";
      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/jVZbEAhpSncdn5wMvZU8H8QoZgUnBnc8LcIpTdJI/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>

    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
      Weglot.initialize({api_key: 'wg_187ff30b6f43474274a3e50311808fb25'});
    </script>

    <!-- Hotjar Tracking Code for https://jollymama.com/ -->
    <script>
      (function(h, o, t, j, a, r) {
        h.hj = h.hj || function() {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
        h._hjSettings = {
          hjid: 2976148,
          hjsv: 6
        };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {% render 'weglot_switcher' %}
    {% render 'weglot_hreftags' %}
  </head>
  <body>

    <tail-header class="shadow-none sticky top-0 z-50 py-1">
      <div class="grid grid-cols-11 h-[60px] items-center gap-4">
        <div class="col-span-3 md:col-span-5">
          {% section "header" %}
        </div>
        <div class=" flex justify-center col-span-5 md:col-span-1">
          {% section 'logo' %}
        </div>
        <div class="flex justify-end items-center col-span-3 md:gap-4 gap-1.5 md:col-span-5 pr-[20px] md:pr-10 lg:pr-20">
          {% unless request.locale.iso_code contains "de" %}
            <a href="/pages/diagnostic-jollymama">
              <div class="hidden md:block px-2 py-1 text-sm uppercase rounded-full bg-ecorce text-white">
                diagnostic
              </div>
            </a>
          {% endunless %}
          {% render "global-search" %}
          {% render "customer-menu" %}
          {% section 'side-cart' %}
        </div>
      </div>

    </tail-header>


    <main
      id="MainContent"
      role="main"
      tabindex="-1">
      {%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace: '%20',' ' | replace: '\u0026', '&' -%}
      {% if template contains 'account' and page_url contains 'orders=true' %}
        {% render 'account-orders' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>


    {% section 'footer-mama' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}
      </li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`
      }
    </script>

    {{ 'recharge.css' | asset_url | stylesheet_tag }}

    <!--Klaviyo -->
    <script
      async
      type="text/javascript"
      src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RUJmn8"></script>

    {% unless request.locale.iso_code contains "de" %}
      <!--Gorgias Chat Widget Start-->
      <script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=17912"></script>
      <style>
        .gorgias-chat-key-eam2gc {
          z-index: 1;
        }
      </style>
    {% endunless %}

    {% if request.locale.iso_code contains "de" %}
      <style>
      #gorgias-chat-container{
        display:  none !important;
      }
      </style>

    {% endif %}
    <!--Gorgias Chat Widget End-->
    <script>
      window.axeptioSettings = {
        clientId: "6255e237c95260b3df9dc338"
      };

      (function(d, s) {
        var t = d.getElementsByTagName(s)[0],
          e = d.createElement(s);
        e.async = true;
        e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
      })(document, "script");
    </script>

    <!-- Pop up parrainage -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="224147"></div>

    <!-- klaviyo back in stock -->
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({account: "RUJmn8", platform: "shopify"});
      klaviyo.enable("backinstock", {
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "btn btn-rounded",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
          headline: "{product_name}",
          body_content: "Inscrivez-vous pour être avertie de son retour en stock en avant première",
          email_field_label: "Email",
          button_label: "Prévenez-moi",
          subscription_success_label: "Votre inscription à bien été prise en compte ! À très vite, mama",
          footer_content: '',
          additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');text-align: center;",
          drop_background_color: "#000",
          background_color: "#fff",
          text_color: "#343434",
          button_text_color: "#fff",
          button_background_color: "#3A0F00",
          close_button_color: "#ccc",
          error_background_color: "#fcd6d7",
          error_text_color: "#C72E2F",
          success_background_color: "#d3efcd",
          success_text_color: "#004d1a"
        }
      });
    </script>
    <!-- Yotpo pop up checkout discount code -->
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/ls8PaM3V_SQAYEemet-bbw" async></script>

    <style>
      #klaviyo-bis-modal {
        border-radius: 10px;
        text-align: center;
      }
      #klaviyo-bis-modal .modal-title {
        color: #3A0F00;
        font-family: "GroteskBold";
      }
      #klaviyo-bis-modal .btn,
      .btn-rounded {
        border-radius: 30px;
      }

      .card-product .yotpo .star-clickable a {
        font-size: 12px;
        margin-left: 5px;
      }

      @media only screen and (max-width: 767px) {
        .card-product .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star,
        .card-product .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star {
          font-size: 12px;
        }

        .card-product .yotpo .star-clickable a {
          font-size: 11px;
          margin-left: 5px;
          position: relative;
          top: -3px;
        }

        .logo {
          max-width: 120px;
        }
      }
    </style>

    <style>
      {% render 'recharge_css' %}
    </style>
    <!-- CRITEO START -->
    {% render 'criteo-tracking' %}
    <!-- CRITEO END -->
  </body>
</html>