<section a class="py-5">
  <div class="w-11/12 max-w-5xl m-auto">
    <!-- desktop -->
    <tail-tabs id="Anchor-conseils" class="hidden lg:block">
      <tabs-buttons class="justify-center gap-4 mb-8 bg-sable p-2">
        {% for block in section.blocks limit: block_limit %}
          <div class="block relative group transition-all !border-[0] cursor-pointer selected:border-b-2 selected:after:content-[''] text-chataigne  selected:text-ecorce selected:after:block selected:after:bg-ecorce selected:after:w-[70px] selected:after:h-[3px] selected:after:absolute selected:after:bottom-[5px] selected:after:left-[50%] selected:after:translate-x-[-50%] selected:after:mx-auto">
            <h2 class="font-[GroteskBold] px-8 py-4 mr-4 text-base last:mr-0 group:selected:text-ecorce">{{ block.settings.title }}</h2>
          </div>
        {% endfor %}
      </tabs-buttons>
      <tabs-panels>
        {% for block in section.blocks %}
          {% if block.type == 'description' %}
            <div class="block mt-4">
              <div class="text-sm">{{ product.description }}</div>
            </div>
          {% elsif block.type == 'who' %}
            <div class="block mt-4">
              <div class="flex items-center gap-8">
                {%- if block.settings.image != blank %}
                  <img
                    class="w-[280px] min-w-[280px] hidden lg:block"
                    style="aspect-ratio: 4 / 5"
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt="{{ block.settings.image.alt }}"
                    loading="lazy">
                {% endif %}
                <div>

                  {%- if block.settings.who_title_1 != blank -%}
                    <div class="flex items-center">
                      <span class="text-sm GrotesqueBold font-bold ml-2" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_1 }}</span>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.who_text_1 != blank -%}
                    <p class="text-sm mb-2 ml-2" style="color:{{ section.settings.text_tabs_color }}">{{ block.settings.who_text_1 }}</p>
                  {% endif %}


                  {%- if block.settings.who_title_2 != blank -%}
                    <div class="flex items-center mt-4">
                      <span class="text-sm GrotesqueBold font-bold ml-2" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_2 }}</span>
                    </div>
                  {% endif %}
                  {%- if block.settings.who_text_2 != blank -%}
                    <p class="text-sm mb-2 ml-2 " style="color:{{ section.settings.text_tabs_color }}">{{ block.settings.who_text_2 }}</p>
                  {% endif %}


                  {%- if block.settings.who_title_3 != blank -%}
                    <div class="flex items-center mt-4">
                      <span class="text-sm GrotesqueBold font-bold ml-2" style="color:{{ section.settings.title_tabs_color}}">{{ block.settings.who_title_3 }}</span>
                    </div>
                  {% endif %}
                  {%- if block.settings.who_text_3 != blank -%}
                    <p class="text-sm ml-2" style="color:{{ section.settings.text_tabs_color }}">{{ block.settings.who_text_3 }}</p>
                  {% endif %}


                  {% if block.settings.who_title_4 != blank %}
                    <div class="flex items-center mt-4">
                      {%- assign title = block.settings.who_title_4 -%}
                      <span class="text-sm GrotesqueBold font-bold ml-2" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_4 }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.who_text_4 != blank %}
                    <p class="text-sm ml-2" style="color:{{ section.settings.text_tabs_color }}">{{ block.settings.who_text_4 }}</p>
                  {% endif %}


                  {% if block.settings.who_title_5 != blank %}
                    <div class="flex items-center mt-4">
                      {%- assign title = block.settings.who_title_5 -%}
                      <span
                        class="text-sm GrotesqueBold font-bold ml-2"
                        style="color:{{ section.settings.title_tabs_color }}"
                        ">{{ block.settings.who_title_5 }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.who_text_5 != blank %}
                    <p class="text-sm ml-2" style="color:{{ section.settings.text_tabs_color }}">{{ block.settings.who_text_5 }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% elsif block.type == 'tips' %}
            <div class="block mt-4">
              <div class="flex items-center gap-8">
                {%- if block.settings.image != blank %}
                  <img
                    class="lazy w-[280px] min-w-[280px] hidden lg:block"
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt="{{ block.settings.image.alt }}"
                    loading="lazy">
                {% endif %}

                <div class="text-sm Grotesque-strong" style="color:{{ section.settings.text_tabs_color }}">
                  {% if block.settings.text_use != blank %}
                    {{ block.settings.text_use }}
                  {% endif %}
                </div>
              </div>
            </div>
          {% elsif block.type == 'benefits' %}
            <div class="block mt-4">
              <div class="flex items-center gap-8">
                {%- if block.settings.image != blank %}
                  <img
                    class="w-[280px] min-w-[280px] hidden lg:block"
                    style="aspect-ratio: 4 / 5"
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt="{{ block.settings.image.alt }}"
                    loading="lazy">
                {% endif %}
                <div class="text-sm Grotesque-strong" style="color:{{ section.settings.text_tabs_color }}">
                  {% if block.settings.benefits_content != blank %}
                    {{ block.settings.benefits_content }}
                  {% endif %}
                </div>
              </div>
            </div>
          {% elsif block.type == 'ingredients' %}
            <div class="block mt-4">
              <div class="text-sm Grotesque-strong ingredients-list">
                {%- if block.settings.title_ingredients != blank -%}
                  <h5 class="uppercase mb-4">
                    {{ block.settings.title_ingredients }}
                  </h5>
                {%- else -%}
                  <h5 class="uppercase mb-4">Des ingrédients gourmands & réconfortants</h5>
                {% endif %}
                <ul class="flex flex-wrap gap-5">
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_1 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_1 | image_url: width: 400  }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_1 }}</div>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                    </div>
                  </li>
                  <li>
                     <div class="flex flex-col justify-center items-center gap-3">
                       {% if block.settings.ingredient_image_2 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_2 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_2 }}</div>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                      </div>
                    </li>
                  </li>
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_3 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_3 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_3 }}</div>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                    </li>
                  </li>
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_4 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_4 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_4 }}</div>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                    </li>
                  </li>
                </ul>
                {% if block.settings.ingredients_tableau_desktop != blank %}
                  <h5 class="mb-2 mt-6">Tableau nutritionnel :</h5>
                  <div>{{ block.settings.nutritional_first_text }}</div>
                  <img
                    class="hidden lg:block my-2"
                    loading="lazy"
                    src="{{  block.settings.ingredients_tableau_desktop  | image_url: width: 1000 }}"
                    alt="">
                {% endif %}
                   <div>{{ block.settings.nutritional_second_text }}</div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </tabs-panels>
    </tail-tabs>
    <!-- mobile -->
    <accordion-group id="Anchor-conseils" class="block lg:hidden">
      {% for block in section.blocks %}
        {% if block.type == 'description' %}
          <accordion-element class="border-b border-chataigne py-6">
            <accordion-trigger class="group">
              <accordion-header class="flex justify-between">
                <div class="flex-1">
                  <h2 class="text-sm font-extrabold uppercase">DESCRIPTION</h2>
                </div>
                <accordion-icon class="transition-all origin-center h-[fit-content]">
                  <span class="icon-plus">{% render 'icon-accordion-plus' %}</span>
                  <span class="icon-minus hidden relative top-2">{% render 'icon-accordion-minus' %}</span>
                </accordion-icon>
              </accordion-header>
            </accordion-trigger>
            <accordion-content>
              <div class="text-sm mt-4">{{ block.settings.description }}</div>
            </accordion-content>
          </accordion-element>
        {% elsif block.type == 'who' %}
          <accordion-element class="border-b border-chataigne py-6">
            <accordion-trigger class="group">
              <accordion-header class="flex justify-between">
                <div class="flex-1">
                  <h2 class="text-sm font-extrabold uppercase">{{ block.settings.title }}</h2>
                </div>
                <accordion-icon class="transition-all origin-center h-[fit-content]">
                  <span class="icon-plus">{% render 'icon-accordion-plus' %}</span>
                  <span class="icon-minus hidden relative top-2">{% render 'icon-accordion-minus' %}</span>
                </accordion-icon>
              </accordion-header>
            </accordion-trigger>
            <accordion-content>
              <div class="flex flex-col mt-4">
                {%- if block.settings.who_title_1 != blank -%}
                  <div class="flex items-center">
                    <span class="text-sm GrotesqueBold font-bold" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_1 }}</span>
                  </div>
                {%- endif -%}
                {%- if block.settings.who_text_1 != blank -%}
                  <p class="text-sm mb-2">{{ block.settings.who_text_1 }}</p>
                {% endif %}

                <div class="flex items-center mt-4">
                  {%- if block.settings.who_title_2 != blank -%}
                    <span class="text-sm GrotesqueBold font-bold" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_2 }}</span>
                  </div>
                {% endif %}
                {%- if block.settings.who_text_2 != blank -%}
                  <p class="text-sm mb-2">{{ block.settings.who_text_2 }}</p>
                {% endif %}

                {%- if block.settings.who_title_3 != blank -%}
                  <div class="flex items-center mt-4">
                    <span class="text-sm GrotesqueBold font-bold" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_3 }}</span>
                  </div>
                {% endif %}
                {%- if block.settings.who_text_3 != blank -%}
                  <p class="text-sm">{{ block.settings.who_text_3 }}</p>
                {% endif %}

                {% if block.settings.who_title_4 != blank %}
                  <div class="flex items-center mt-4">
                    <span class="text-sm GrotesqueBold font-bold" style="color:{{ section.settings.title_tabs_color }}">{{ block.settings.who_title_4 }}</span>
                  </div>
                {% endif %}
                {% if block.settings.who_text_4 != blank %}
                  <p class="text-sm">{{ block.settings.who_text_4 }}</p>
                {% endif %}
              </div>
            </accordion-content>
          </accordion-element>
        {% elsif block.type == 'tips' %}
          <accordion-element class="border-b border-chataigne py-6">
            <accordion-trigger class="group">
              <accordion-header class="flex justify-between">
                <div class="flex-1">
                  <h2 class="text-sm font-extrabold uppercase">{{ block.settings.title }}</h2>
                </div>
                <accordion-icon class="transition-all origin-center h-[fit-content]">
                  <span class="icon-plus">{% render 'icon-accordion-plus' %}</span>
                  <span class="icon-minus hidden relative top-2">{% render 'icon-accordion-minus' %}</span>
                </accordion-icon>
              </accordion-header>
            </accordion-trigger>
            <accordion-content>
              <div class="text-sm mt-4 Grotesque-strong">
                {% if block.settings.text_use != blank %}
                  {{ block.settings.text_use }}
                {% endif %}
              </div>
            </accordion-content>
          </accordion-element>
        {% elsif block.type == 'benefits' %}
          <accordion-element class="border-b border-chataigne py-6">
            <accordion-trigger class="group">
              <accordion-header class="flex justify-between">
                <div class="flex-1">
                  <h2 class="text-sm font-extrabold uppercase">{{ block.settings.title }}</h2>
                </div>
                <accordion-icon class="transition-all origin-center h-[fit-content]">
                  <span class="icon-plus">{% render 'icon-accordion-plus' %}</span>
                  <span class="icon-minus hidden relative top-2">{% render 'icon-accordion-minus' %}</span>
                </accordion-icon>
              </accordion-header>
            </accordion-trigger>
            <accordion-content>
              <div class="block">
                <div class="text-sm mt-4 Grotesque-strong" style="color:{{ section.settings.text_tabs_color }}">
                  {% if block.settings.benefits_content != blank %}
                    {{ block.settings.benefits_content }}
                  {% endif %}
                </div>
              </div>
            </accordion-content>
          </accordion-element>
        {% elsif block.type == 'ingredients' %}
          <accordion-element class="border-b border-chataigne py-6">
            <accordion-trigger class="group">
              <accordion-header class="flex justify-between">
                <div class="flex-1">
                  <h2 class="text-sm font-extrabold uppercase">{{ block.settings.title }}</h2>
                </div>
                <accordion-icon class="transition-all origin-center h-[fit-content]">
                  <span class="icon-plus">{% render 'icon-accordion-plus' %}</span>
                  <span class="icon-minus hidden relative top-2">{% render 'icon-accordion-minus' %}</span>
                </accordion-icon>
              </accordion-header>
            </accordion-trigger>
            <accordion-content class="ingredients-list">
              <div class="block">
                <div class="text-sm mt-10 Grotesque-strong">
                  <h5 class="uppercase mb-4">Des ingrédients gourmands & réconfortants</h5>
                  <ul class="flex flex-wrap gap-5">
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_1 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_1 | image_url: width: 400  }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_1 }}</div>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                    </div>
                  </li>
                  <li>
                     <div class="flex flex-col justify-center items-center gap-3">
                       {% if block.settings.ingredient_image_2 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_2 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_2 }}</div>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                      </div>
                    </li>
                  </li>
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_3 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_3 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_3 }}</div>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                    </li>
                  </li>
                  <li>
                    <div class="flex flex-col justify-center items-center gap-3">
                      {% if block.settings.ingredient_image_4 != blank %}
                        <img
                          class="object-cover rounded-full h-[60px] w-[60px]"
                          src="{{ block.settings.ingredient_image_4 | image_url: width: 400 }}"
                          alt="">
                        <div>{{ block.settings.ingredient_name_4 }}</div>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                    </li>
                  </li>
                </ul>
                   {% if block.settings.ingredients_tableau_mobile != blank %}
                    <h5 class="mt-5 mb-5">Tableau nutritionnel :</h5>
                    <div>{{ block.settings.nutritional_first_text }}</div>
                    <img
                    class="block lg:hidden my-5"
                    src="{{  block.settings.ingredients_tableau_mobile | image_url: width: 1000 }}"
                    alt="">
                    {% endif %}
                  <div>{{ block.settings.nutritional_second_text }}</div>
                </div>
              </div>
            </accordion-content>
          </accordion-element>
        {% endif %}
      {% endfor %}
    </accordion-group>
  </div>
</section>
<style>

  .selected\:text-ecorce[aria-selected="true"] h4 {
    color: #3A0F00;
  }

  accordion-element[data-open="true"] .icon-plus {
    display: none;
  }
  accordion-element[data-open="true"] .icon-minus {
    display: block;
  }
  .Grotesque-strong b {
    font-family: "RebondGrotesqueBold";
    font-weight: 600;
  }
</style>

{% schema %}
  {
    "name": "Tabs diagnostic",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "texts tabs colors"
      }, {
        "type": "color",
        "id": "title_tabs_color",
        "label": "Title tabs color",
        "default": "#733E2B"
      }, {
        "type": "color",
        "id": "text_tabs_color",
        "label": "Text tabs color",
        "default": "#927254"
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text_description",
            "label": "Tab description",
            "default": "Description text here"
          }
        ]
      },
      {
        "type": "who",
        "name": "Pour qui ?",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "POUR QUI ?"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "who_title_1",
            "label": "Tab title",
            "default": "Grossesse : Non"
          },
          {
            "type": "text",
            "id": "who_text_1",
            "label": "Pour qui text 1",
            "default": "Déconseillé chez les femmes enceintes en raison de la présence de gingembre et de cannelle."
          }, {
            "type": "text",
            "id": "who_title_2",
            "label": "Pour qui titre 2",
            "default": "Pause réconfortante "
          }, {
            "type": "text",
            "id": "who_text_2",
            "label": "Pour qui text 2",
            "default": "Boisson au collagène, pour celles qui veulent une boisson réconfortante et réchauffante pour faire le plein de collagène"
          }, {
            "type": "text",
            "id": "who_title_3",
            "label": "Pour qui titre 3",
            "default": "Après l'accouchement"

          }, {
            "type": "text",
            "id": "who_text_3",
            "label": "Pour qui text 3",
            "default": "Golden mama est compatible allaitement mais nous vous conseillons de prendre conseil auprès de votre médecin avant toute supplémentation."
          }, {
            "type": "text",
            "id": "who_title_4",
            "label": "Pour qui titre 4",
            "default": "Alaitement : Oui"
          }, {
            "type": "text",
            "id": "who_text_4",
            "label": "Pour qui text 4",
            "default": "Boisson au collagène, pour celles qui veulent une boisson réconfortante et réchauffante pour faire le plein de collagène"
          }, {
            "type": "text",
            "id": "who_title_5",
            "label": "Pour qui titre 5",
            "default": "Alaitement : Oui"

          }, {
            "type": "text",
            "id": "who_text_5",
            "label": "Pour qui text 5",
            "default": "Golden mama est compatible allaitement mais nous vous conseillons de prendre conseil auprès de votre médecin avant toute supplémentation."
          }
        ]
      },
      {
        "type": "benefits",
        "name": "Benefices",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "BÉNÉFICES"
          }, {
            "type": "richtext",
            "id": "benefits_content",
            "label": "Benefits content",
            "default": "<p>Lorem o eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>",
            "info": "Text by default if metafield is empty"
          }
        ]
      },
      {
        "type": "tips",
        "name": "Conseil d'utilisation",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "CONSEIL D'UTILISATION"
          }, {
            "type": "richtext",
            "id": "text_use",
            "label": "Conseil d'utilisation text",
            "default": "<p> Prendre 2 gélules par jour. Les compléments alimentaires doivent être consommés dans le cadre d’un mode de vie sain et ne doivent pas remplacer une alimentation variée et équilibrée. Tenir hors de portée des jeunes enfants. Ne dépassez pas la dose quotidienne recommandée. Ce produit n'est pas un médicament.</p>",
            "info": "Your text here"
          }
        ]
      }, {
        "type": "ingredients",
        "name": "Ingredients",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Ingredients tab settings"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Tab title",
            "default": "INGREDIENTS"
          },
          {
            "type": "header",
            "content": "Ingredient 2 settings"
          },
          {
            "type": "image_picker",
            "id": "ingredient_image_1",
            "label": "Select an image to display the ingredient "
          },
          {
            "type": "text",
            "id": "ingredient_name_1",
            "label": "Ingredient name",
            "default": "Miel"
          },
          {
            "type": "header",
            "content": "Ingredient 2 settings"
          },
          {
            "type": "image_picker",
            "id": "ingredient_image_2",
            "label": "Select an image to display the ingredient "
          }, {
            "type": "text",
            "id": "ingredient_name_2",
            "label": "Ingredient name",
            "default": "Abricot"
          },
          {
            "type": "header",
            "content": "Ingredient 3 settings"
          },
          {
            "type": "image_picker",
            "id": "ingredient_image_3",
            "label": "Select an image to display the ingredient "
          }, {
            "type": "text",
            "id": "ingredient_name_3",
            "label": "Ingredient name",
            "default": "Abricot"
          },
          {
            "type": "header",
            "content": "Ingredient 4 settings"
          },
          {
            "type": "image_picker",
            "id": "ingredient_image_4",
            "label": "Select an image to display the ingredient"
          }, {
            "type": "text",
            "id": "ingredient_name_4",
            "label": "Ingredient name",
            "default": "Abricot"
          }, {
            "type": "header",
            "content": "Nutrition table images (Desktop and mobile)"
          }, {
            "type": "richtext",
            "id": "nutritional_first_text",
            "label": "Ingredient first text",
            "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sapiente laborum, quas cumque culpa error quos odit velit nemo sit adipisci ratione nobis? Quis odio sed exercitationem distinctio pariatur. Numquam.</p>"
          }, {
            "type": "richtext",
            "id": "nutritional_second_text",
            "label": "Ingredient second text",
            "default": "<p> **AR : apport de référence pour un adulte type (8400 KJ / 2000 kcal)</p>"
          },
          {
            "type": "header",
            "content": "Nutritional table images "
          },
          {
            "type": "image_picker",
            "id": "ingredients_tableau_desktop",
            "label": "Tableau nutritionnel desktop"
          }
          ,{
            "type": "image_picker",
            "id": "ingredients_tableau_mobile",
            "label": "Tableau nutritionnel mobile"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs diagnostic"
      }
    ]
  }
{% endschema %}
