{% assign s = section.settings %}

<section class="max-w-[1000px] mx-auto pt-9 pb-[33px]">
  <div class="flex flex-row bg-sable mx-5 md:mx-0">
    <div class="hidden md:block md:w-1/2">
      {% render 'image', image: s.image, class: "object-cover h-full" %}
    </div>
    <div class="p-5 md:p-10 w-full md:w-1/2" id="form-ebooks">
      <div class="md:hidden text-center mb-[22px] flex justify-center">
        {% render 'icon-download' %}
      </div>
      <h3 class="uppercase text-ecorce text-base text-center md:text-left leading-[22px] tracking-[0.06em] mt-[11px] mb-[20px]">
        {{ s.title }}
      </h3>
      <div class="text-acajou text-sm leading-[20px] font-medium mb-[11px]">
        {{ s.subtitle }}
      </div>
      <div data-form id="form-ebooks" class="text-acajou">
        {% for block in section.blocks %}
          {% assign b = block.settings %}
          <form action="https://manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="https://manage.kmail-lists.com/ajax/subscriptions/subscribe" target="_blank" novalidate="novalidate" method="GET" id="form-ebooks-{{ forloop.index }}" class="text-acajou">
            <input type="hidden" name="g" value="{{ b.klaviyo_list | default: 'aaa' }}">
            <input type="hidden" name="$list_fields" value="$consent">
            <input type="hidden" name="email" value="">
            <input type="hidden" name="$fields" value="$consent">
            <div class="flex-row flex items-center text-left default--filters text-xs cursor-pointer mb-[13px]">
              <div class="relative w-6 h-6">
                <input type="checkbox" id="ebook_{{ forloop.index }}"
                  name="ebook_{{ forloop.index }}"
                  id="ebook-{{ forloop.index }}" class="relative z-10 opacity-0 h-6 w-6 cursor-pointer">
                <span class="rounded-sm absolute h-6 w-6 border-acajou border-solid border left-0 top-0 p-1"></span>
              </div>
              <label for="ebook_{{ forloop.index }}" class="pl-2 text-acajou font-medium text-sm cursor-pointer">
                {{ b.title }}
              </label>
            </div>
          </form>
        {% endfor %}

        <div id="form-email" class="mt-[22px]">
          <label class="text-acajou font-medium text-sm">{{ s.email_label }}</label>
          <input type="email" name="email" form="form_button" required placeholder="mamamood@gmail.com" class="bg-white mt-[10px] border w-full border-chataigne rounded-[4px] py-[14px] px-5 text-acajou text-xs">
        </div>

        <!-- Checkbox  Newsletter -->
        <form action="https://manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="https://manage.kmail-lists.com/ajax/subscriptions/subscribe" target="_blank" novalidate="novalidate" method="GET" id="form-newsletter" class="text-acajou">
          <input type="hidden" name="g" value="{{ s.newsletter_list | default: 'aaa' }}">
          <input type="hidden" name="$list_fields" value="$consent">
          <input type="hidden" name="email" value="">
          <input type="hidden" name="$fields" value="$consent">
          <div class="flex-row flex items-center text-left default--filters text-xs cursor-pointer mt-5 mb-5">
            <div class="relative w-4 h-4">
              <input type="checkbox" id="ebook_newsletter" name="ebook_newsletter" class="relative z-10 opacity-0 h-4 w-4 cursor-pointer">
              <span class="rounded-sm absolute h-4 w-4 border-acajou border-solid border left-0 top-0 p-1"></span>
            </div>
            <label for="ebook_newsletter" class="pl-2 text-acajou font-medium text-sm cursor-pointer">{{ s.newsletter_label }}</label>
          </div>
        </form>

        <p data-forms-error class="text-sm mb-5 hidden text-red-400">
          Inscrivez-vous à la newsletter pour recevoir votre ebook gratuit
        </p>

        <form id="form_button">
          <button data-form-submit type="submit" class="w-full md:w-fit-content mx-auto py-3 px-6 rounded-[50px] border border-solid border-transparent hover:bg-sable hover:border-acajou hover:text-ecorce bg-ecorce text-white font-bold text-base leading-[22px]">
            <span data-button class="hidden !block">{{ s.button_text }}</span>
            <span data-success class="hidden">Ebook envoyé</span>
            <span data-error class="hidden">Erreur</span>
          </button>
        </form>
      </div>
      <script>
        const form_button = document.querySelector('#form_button');
        form_button.addEventListener('submit', function(e){
          e.preventDefault();

          if(!document.querySelector('#form-newsletter input[type="checkbox"]:checked')) {
            if(!document.querySelector('[data-forms-error]').classList.contains('!block')) document.querySelector('[data-forms-error]').classList.add('!block')
            return false;
          }

          const forms = document.querySelectorAll('[data-form] form input[type="checkbox"]:checked');
          const email = document.querySelector('#form-email input[type="email"]').value;
          const buttonContainer = document.querySelector('[data-form] [data-button]');
          const errorContainer = document.querySelector('[data-form] [data-error]');
          const successContainer = document.querySelector('[data-form] [data-success]');
          let count = 0;
          for(let i = 0; i < forms.length; i++){
            forms[i].closest('form').querySelector('[name="email"]').value = email;
            const body = new FormData(forms[i].closest('form'));
            fetch("//manage.kmail-lists.com/ajax/subscriptions/subscribe", { method: "post", body: body })
            .then(function(){
              count += 1;
              console.log(i, forms.length, count)
              if(count == forms.length){
                document.querySelector('[data-forms-error]').classList.remove('!block')
                buttonContainer.classList.toggle('!block');
                successContainer.classList.add('!block');
                setTimeout(function(){
                  dataLayer.push({
                    'event': '{{ template_name }}',
                    'eventCategory': 'Engagement',
                    'eventAction': 'Ebook_download',
                    'eventLabel': 'ebookname'
                  });
                  buttonContainer.classList.toggle('!block');
                  successContainer.classList.toggle('!block');
                }, 3000);
              }
            }).catch((e) => {
              console.error(e);
              if(i == forms.length - 1 && count == forms.length){
                buttonContainer.classList.toggle('!block');
                errorContainer.classList.toggle('!block');
                setTimeout(function(){
                  buttonContainer.classList.toggle('!block');
                  errorContainer.classList.toggle('!block');
                }, 3000);
              }
            })
          }
        });
      </script>

      <style>
        input[type="checkbox"]:checked + span:before {
          background: rgb(115 62 43);
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          border-radius: 2px;
        }

        #icon-drop path:last-child {
          fill: rgb(58 15 0 / 1)
        }
      </style>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Ebook Form",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "choisissez le ou les ebooks que vous souhaitez bouquiner"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Cochez les ebooks que vous souhaitez télécharger 🥰</p>"
    },
    {
      "type": "richtext",
      "id": "email_label",
      "label": "Email Label",
      "default": "<p>Indiquez votre adresse email pour recevoir le format PDF dans votre boite mail 👀</p>"
    },
    {
      "type": "text",
      "id": "newsletter_list",
      "label": "Newsletter Liste"
    },
    {
      "type": "richtext",
      "id": "newsletter_label",
      "label": "Newsletter Label",
      "default": "<p>Je souhaite m’inscire à la newsletter pour recevoir des offres exclusives</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Je télécharge"
    }
  ],
  "blocks": [
    {
      "type": "ebook",
      "name": "Ebook",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Grossesse n1"
        },
        {
          "type": "text",
          "id": "klaviyo_list",
          "label": "Klaviyo Liste"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ebook Form"
    }
  ]
}
{% endschema %}