{% assign s = section.settings %}
<section class="max-w-[862px] mx-auto pt-[23px] md:pt-9 pb-[33px] overflow-hidden lg:overflow-visible">
  <h2 class="text-base text-ecorce uppercase leading-[22px] tracking-[0.06em] text-center mx-5 md:mx-0">
    {{ s.title }}
  </h2>
  <tail-carousel class="mt-10 ml-6 md:ml-0" slidesToShow="xs:2 md:3 lg:4">
    <carousel-container class="md:max-w-[90%] md:mx-auto">
        <carousel-content>
          {% for block in section.blocks %}
            {% assign b = block.settings %}
             <carousel-panel class="p-0 pr-2 w-[90px] max-w-[90px] md:w-fit md:[max-w-max]">
              <img class="w-full" src="{{ b.image | img_url:'master' }}" alt="{{ b.image.alt }}" loading="lazy" >
              <h3 class="uppercase text-chataigne text-base leading-[22px] tracking-[0.06em] mt-[11px] mb-[11px]">
                {{ b.title }}
              </h3>
              <div class="text-chataigne text-sm leading-[20px]">
                {{ b.richtext }}
              </div>
            </carousel-panel>
            {% endfor %}
        </carousel-content>
    </carousel-container>

    <carousel-next class="hidden md:!block absolute bottom-0 z-[1] xl:-right-4 right-4 items-center justify-center w-8 h-8 p-2 my-auto cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed ">
      {% render 'icon-arrow-right' %} 
     </carousel-next>
     <carousel-prev class="hidden md:!block absolute bottom-0 xl:-left-4 left-4 z-[1] items-center justify-center w-8 h-8 p-2 my-auto cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
      {% render 'icon-arrow-left' %}
    </carousel-prev>

    <carousel-dots class="relative flex justify-center mt-4">
        <carousel-dot class="w-3 h-3 m-1 transition-all bg-transparent border rounded-full border-acajou selected:bg-acajou selected:border-acajou selected:scale-110"></carousel-dot>
    </carousel-dots>
  </tail-carousel>

  <!--<div class="mt-10 scrollbar flex relative overflow-hidden overflow-x-scroll ml-5 md:ml-0 snap-mandatory gap-[10px] md:gap-5 snap-x">
    {% for block in section.blocks %}
      {% assign b = block.settings %}
      <div class="shrink-0 snap-center pb-10 max-w-[200px] before:md:grow basis-2/3 md:basis-1/2 lg:basis-1/4 text-left {% if forloop.last %}mr-5 md:mr-0{% endif %}">
      </div>
    {% endfor %}
  </div>-->
</section>
<style>
  /* Works on Firefox */


  .scrollbar {
    overflow: hidden;
  }

  .scrollbar:hover {
    overflow-x: scroll;
    transition-duration: 0.3s;
  }
</style>

{% schema %}
  {
    "name": "Ebook Cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Les thématiques disponibles pour vous accompagner"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Grossesse N1"
          }, {
            "type": "richtext",
            "id": "richtext",
            "label": "Richtext",
            "default": "<p>15 conseils pour vivre mentalement et physiquement une grossesse de rêve !</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ebook Cards"
      }
    ]
  }
{% endschema %}
