{% assign s = section.settings %}

<section class="font-[RebondGrotesque] w-full relative {% if s.image != blank %}mt-14{% endif %}" id="{{ section.id }}">
  {% if s.image != blank %}
    <div class="mb-4 absolute top-0 left-2/4 w-40 h-40 translate-y-[-50%] translate-x-[-50%]">
      <img src="{{ s.image | image_url: width: 200 }}"
        class="object-cover h-full w-full"
        loading="lazy"
        alt="{{ s.image.alt }}"
        width="{{ s.image.width }}"
        height="{{ s.image.height }}">
    </div>
  {% endif %}
  <div class="relative overflow-hidden">
    <div class="py-14 text-center max-w-[1120px] m-auto">
      <div class="ml-auto mr-auto max-w-2xl w-full px-4 md:px-0 {% if s.image != blank %}pt-14{% endif %}">
        <style>
          #{{ section.id }} .overflow-hidden::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            translate: -50%;
            background-color: {{ s.bg }};
            z-index: -1;
          }

          @media only screen and (min-width: 768px){
            #{{ section.id }} .overflow-hidden::before {
              width: 150%;
              height: 100%;
              border-radius: 50% 50% 0 0;
            }
          }

          @media only screen and (max-width: 767px){
            #{{ section.id }} .overflow-hidden::before {
              width: 100vw;
              height: 100%;
              border-radius: 90vw 90vw 0 0;
            }
          }
        </style>
        {% if s.subtitle != blank %}
          <p class="mb-1 uppercase font-bold text-base">
            {{ s.subtitle }}
          </p>
        {% endif %}
        {% if s.title %}
          <h2 class="mb-7 font-[RebondGrotesque] font-medium text-3xl md:text-4xl">
            {{ s.title }}
          </h2>
        {% endif %}
        {% if s.richtext %}
          <div class="text-sm mb-7">
            {{ s.richtext }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Ingredients Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "LE CAS DE L’ÉPINARD"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choisir le bon ingrédient"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text",
        "default": "<p>Notre meilleur exemple, c’est le cas de notre épinard bio : nous utilisons des extraits d'épinards bio, naturellement riches en folates (sous une forme déjà méthylée, donc “prête à l’emploi pour notre organisme”). </p>"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Ingredients Footer"
      }
    ]
  }
{% endschema %}
