{% assign s = section.settings %}

<section class="font-[RebondGrotesque] w-full max-w-[1120px] m-auto">
  <div class="py-14 text-center">
    <div class="ml-auto mr-auto max-w-2xl w-full">
      {% if s.subtitle != blank %}
        <p class="mb-1 uppercase font-bold text-base">
          {{ s.subtitle }}
        </p>
      {% endif %}
      {% if s.title %}
        <h2 class="mb-7 font-[RebondGrotesque] font-medium text-3xl md:text-4xl">
          {{ s.title }}
        </h2>
      {% endif %}
      {% if s.richtext %}
        <div class="text-sm mb-7">
          {{ s.richtext }}
        </div>
      {% endif %}
    </div>
    <div class="p-4 grid grid-cols-1 md:grid-cols-3 gap-5">
      {% for block in section.blocks %}
        {% assign b = block.settings %}
        <a href="{{ b.link }}" class="h-auto rounded-md border-acajou border border-solid p-7 {% if forloop.index > 3 %} hidden md:block" data-card{% else %}"{% endif %}>
          {% if b.image != blank %}
            <div class="w-12 h-12 rounded-full overflow-hidden mb-2 ml-auto mr-auto">
              <img src="{{ b.image | image_url: width: 150 }}"
                loading="lazy"
                class="object-cover h-full w-full"
                alt="{{ b.image.alt }}"
                width="{{ b.image.width }}"
                height="{{ b.image.height }}">
            </div>
          {% endif %}
          {% if b.title != blank %}
            <h3 class="font-[RebondGrotesque] font-medium text-2xl mb-1">
              {{ b.title }}
            </h3>
          {% endif %}
          {% if b.richtext %}
            <div class="text-sm">
              {{ b.richtext }}
            </div>
          {% endif %}
        </a>
      {% endfor %}
      {% if section.blocks.size > 3 %}
        <div data-show-more data-active="false" class="underline text-center w-full text-sm md:hidden cursor-pointer">
          <span>Afficher plus d'actifs</span>
          <span class="hidden">Replier</span>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<script>
  let button = document.querySelector('[data-show-more]');
  button.addEventListener('click', function(){
    if(this.getAttribute('data-active') == "false"){
      this.setAttribute('data-active', true),
      this.querySelector('span:first-child').classList.add('hidden'),
      this.querySelector('span:last-child').classList.remove('hidden');
      document.querySelectorAll('[data-card]').forEach((card) => {
        card.classList.remove('hidden', 'md:block');
      });
    } else {
      this.setAttribute('data-active', false),
      this.querySelector('span:first-child').classList.remove('hidden'),
      this.querySelector('span:last-child').classList.add('hidden');
      document.querySelectorAll('[data-card]').forEach((card) => {
        card.classList.add('hidden', 'md:block');
      });
    }
  });
</script>

{% schema %}
{
  "name": "Ingredients cards",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Ingrédients"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Les meilleurs actifs"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Rich text",
      "default": "<p>Le meilleur pour vous, avec toujours des compositions les plus clean possibles. Nous utilisons des vitamines et minéraux bio ou des nutriments bio-identiques.</p>"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Les meilleurs actifs"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Description",
          "default": "<p>Procure de l’énergie et aide à la récupération </p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ingredients cards"
    }
  ]
}
{% endschema %}