<!-- image banner with breadcrumbs -->
<div class="relative">
  {% render 'article_image-banner', image: article.image %}
  <div class="absolute left-5 md:left-10 top-5 text-white">
    {% render 'breadcrumbs' %}
  </div>
</div>
<div class="max-w-4xl mx-auto mt-10 mb-8">
  {%- if section.settings.show_date -%}
    <p class="mb-4 text-[13px]">
      <span>{{ article.published_at | time_tag: '%d %b. %Y' }}
      </span>
    </p>
  {%- endif -%}

  {%- if section.settings.show_author -%}
    <span class="block mt-2.5 text-xs uppercase">{{ article.author }}
    </span>
  {%- endif -%}

  <h1 class="text-[32px] leading-[33px] md:text-[40px] md:leading-[48px] Grotesque mt-1 mb-2">{{ article.title }}</h1>

  {% if section.settings.show_content %}
    <div class="text-[21px] leading-[26px] md:text-[24px] md:leading-[30px] mt-2.5 md:mt-5 article_content text-acajou">
      {{ article.content }}
    </div>
  {% endif %}

  {%- if article.metafields.custom.subtitle != blank -%}
    <div class="mt-4 text-base Grotesque font-semibold">
      {{ article.metafields.custom.subtitle }}
    </div>
  {%- endif -%}
</div>
<div class="w-11/12 max-w-screen-xl mb-10 mx-auto relative">
  <div class="flex flex-col-reverse md:flex-row gap-5 md:gap-10 relative">
    <!-- article side-blocks -->
    <div class="hidden flex-col w-3/12 max-w-[234px] gap-5 pb-20 {% if article.metafields.custom.left_side_title_bloc_1 != blank or article.metafields.custom.left_side_title_bloc_2 != blank %} md:flex {% else %} md:hidden {% endif %}">

      {%- assign side_boxes = 0 -%}
      {% for block in section.blocks %}
        {%- if block.type == "side_box" -%}

          {%- assign side_boxes = side_boxes | plus: 1 -%}

          {% assign side_box_title = 'left_side_title_bloc_' | append: side_boxes %}
          {% assign metafield_side_box_title = article.metafields.custom[side_box_title] %}

          {% assign side_box_text = 'left_side_bloc_' | append: side_boxes %}
          {% assign metafield_side_box_text = article.metafields.custom[side_box_text] %}
          {% if metafield_side_box_title != blank or metafield_side_box_text != blank %}
            <div class=" {%- if block.settings.radius == "Top" -%} rounded-t-[94.5px]
                                                                                          {%- elsif block.settings.radius == "Full" -%} rounded-[50px]
                                                                                          {%- elsif block.settings.radius == "Bottom" -%} rounded-br-[70px]
                                                                                          {%- elsif block.settings.radius == "None" -%} rounded-none {%- endif -%}" style="background-color: {{ block.settings.background_color }}">
              <div class=" flex flex-col  justify-center gap-3 p-8 lg:p-8 overflow-hidden">
                <h6 class="font-extrabold text-base" style="color:{{ block.settings.title_color }}">
                  {{ metafield_side_box_title }}
                </h6>

                <div class="text-[15px]" style="color:{{ block.settings.text_color }}">
                  {{ metafield_side_box_text }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <!-- article side-blocks mobile -->
    <div class="hidden mb-10 Grotesque">
      <div class="">
        <div class="scrollbar flex relative overflow-hidden overflow-x-scroll snap-mandatory gap-4 snap-x xl:overflow-x-hidden scroller ">
          {% for block in section.blocks %}
            {%- if block.type == "side_box" -%}
              {%- assign side_boxes = side_boxes | plus: 1 -%}

              {% assign side_box_title = 'left_side_title_bloc_' | append: side_boxes %}
              {% assign metafield_side_box_title = article.metafields.custom[side_box_title] %}

              {% assign side_box_text = 'left_side_bloc_' | append: side_boxes %}
              {% assign metafield_side_box_text = article.metafields.custom[side_box_text] %}

              {% if metafield_side_box_title != blank or metafield_side_box_text != blank %}
                <div class="rounded-t-[100px] flex flex-col items-center justify-center mx-1 min-w-[232px] min-h-[250px] snap-center" style="background-color: {{ block.settings.background_color }}">
                  <div class=" flex flex-col justify-evenly h-full mt-10 px-2 text-center">
                    <h6 class="text-bold text-base" style="color:{{ block.settings.title_color }}">
                      {{ metafield_side_box_title }}
                    </h6>
                    <div class="text-bold text-[14px]" style="color:{{ block.settings.text_color }}">
                      {%- if metafield_side_box_text != blank -%}
                        {{ metafield_side_box_text }}
                      {%- else -%}
                        {{ block.settings.block-text }}
                      {%- endif -%}}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- article content -->
    <div class="w-11/12 max-w-[900px] mx-auto
      {% if article.metafields.custom.left_side_title_bloc_1 != blank or article.metafields.custom.left_side_title_bloc_2 != blank %} md:w-9/12 {% else %} md:w-full {% endif %}">

      {% assign rt_i = 1 %}
      {% assign iwt_i = 1 %}
      {% assign ib_i = 1 %}
      {% assign sum_i = 1 %}
      <!-- rt corresponding to Rich Text / iwt corresponding to Image With Text / ib corresponding to Image Banner -->

      {% for block in section.blocks %}

        {%- if block.type == 'summary' -%}
          <div class="bg-sable border-acajou border rounded-md p-4">
            <h5 class="uppercase text-base mb-3">SOMMAIRE</h5>
            <ol>
              {% for i in (1..09) %}
                {% assign summary_key = 'summary_' | append: sum_i %}
                {% assign metafieldsummary = article.metafields.custom[summary_key] %}

                {% if metafieldsummary != blank %}
                  <li class="Grotesque text-base mb-2">
                    <a href="#block-{{ sum_i }}">0{{ sum_i }}. {{ metafieldsummary }}</a>
                  </li>
                {% endif %}
                {% assign sum_i = sum_i | plus: 1 %}
              {% endfor %}
            </ol>
          </div>

        {%- elsif block.type == 'sources' -%}
          {%- if article.metafields.custom.texte_bloc_sources != blank -%}
            <accordion-group class="my-5">
              <accordion-element class="py-4 px-4 bg-acajou text-white rounded-lg">
                <accordion-trigger class="group">
                  <accordion-header class="flex justify-between items-center">
                    <div class="min-w[240px] mr-5">
                      <h2 class="text-sm md:text-base font-bold uppercase text-white">
                        NOS SOURCES
                      </h2>
                    </div>
                    <accordion-icon class="duration-150 group-transition-all origin-center h-[fit-content]">
                      <span class="icon-plus">{% render 'icon-accordion-plus', white:true %}</span>
                      <span class="icon-minus hidden">{% render 'icon-accordion-minus', white:true %}</span>
                    </accordion-icon>
                  </accordion-header>
                </accordion-trigger>
                <accordion-content>
                  <div class="text-base mt-4 text-white">
                    {{ article.metafields.custom.texte_bloc_sources }}
                  </div>
                </accordion-content>
              </accordion-element>
            </accordion-group>
          {% endif %}

        {%- elsif block.type == 'richText' -%}

          <!-- summary metafields -->
          {% assign titleKey_rt = 'summary_' | append: rt_i %}
          {% assign metafieldPathTitle_rt = article.metafields.custom[titleKey_rt] %}

          <!-- text metafields -->
          {% assign paragraph1 = 'text_bloc_' | append: rt_i %}
          {% assign metafieldParagraph_1 = article.metafields.custom[paragraph1] %}

          {% assign paragraph2 = 'text_2_bloc_' | append: rt_i %}
          {% assign metafieldParagraph_2 = article.metafields.custom[paragraph2] %}

          {% assign paragraph3 = 'text_3_bloc_' | append: rt_i %}
          {% assign metafieldParagraph_3 = article.metafields.custom[paragraph3] %}

          {% assign paragraph_faq = 'text_faq_bloc_' | append: rt_i %}
          {% assign metafield_paragraph_faq = article.metafields.custom[paragraph_faq] %}


          <!-- faq metafields -->
          {% assign question_faq = 'question_1_faq_bloc_' | append: rt_i %}
          {% assign metafield_question_faq = article.metafields.custom[question_faq] %}

          {% assign answer_faq = 'answer_1_faq_bloc_' | append: rt_i %}
          {% assign metafield_answer_faq = article.metafields.custom[answer_faq] %}

          {% assign question_2_faq = 'question_2_faq_bloc_' | append: rt_i %}
          {% assign metafield_2_question_faq = article.metafields.custom[question_2_faq] %}

          {% assign answer_2_faq = 'answer_2_faq_bloc_' | append: rt_i %}
          {% assign metafield_2_answer_faq = article.metafields.custom[answer_2_faq] %}

          {% assign question_3_faq = 'question_3_faq_bloc_' | append: rt_i %}
          {% assign metafield_3_question_faq = article.metafields.custom[question_3_faq] %}

          {% assign answer_3_faq = 'answer_3_faq_bloc_' | append: rt_i %}
          {% assign metafield_3_answer_faq = article.metafields.custom[answer_3_faq] %}

          {% assign question_4_faq = 'question_4_faq_bloc_' | append: rt_i %}
          {% assign metafield_4_question_faq = article.metafields.custom[question_4_faq] %}

          {% assign answer_4_faq = 'answer_4_faq_bloc_' | append: rt_i %}
          {% assign metafield_4_answer_faq = article.metafields.custom[answer_4_faq] %}

          {% assign question_5_faq = 'question_5_faq_bloc_' | append: rt_i %}
          {% assign metafield_5_question_faq = article.metafields.custom[question_5_faq] %}

          {% assign answer_5_faq = 'answer_5_faq_bloc_' | append: rt_i %}
          {% assign metafield_5_answer_faq = article.metafields.custom[answer_5_faq] %}

          <!-- button metafields -->
          {% assign button = 'bouton_bloc_' | append: rt_i %}
          {% assign metafield_button = article.metafields.custom[button] %}

          {% assign rt_i = rt_i | plus: 1 %}

          <!-- image metafields -->
          {% assign imageKeyDesktop_ib = 'image_bloc_' | append: ib_i %}
          {% assign metafieldPathImageDesktop_ib = article.metafields.custom[imageKeyDesktop_ib] %}

          {% assign imageKey_ib = 'image_mobile_bloc_' | append: ib_i %}
          {% assign metafieldPathImageMobile_ib = article.metafields.custom[imageKey_ib] %}

          {% assign ib_i = ib_i | plus: 1 %}

          {%- if metafieldParagraph_1 != blank or  metafieldParagraph_2 != blank or metafield_question_faq != blank or metafieldPathImageDesktop_ib != blank or metafieldPathImageMobile_ib != blank -%}
            <div>
              <a class="anchor" id="block-{{ rt_i | minus: 1 }}"></a>
              <div class="max-w-6xl mt-8 mx-auto">
                <div class="text-{{ block.settings.textPosition }}">
                  <h3 class="font-bold text-sm md:text-base uppercase mb-3">{{ metafieldPathTitle_rt }}</h3>
                  <div class="text-base mt-2.5 md:mt-5 leading-[20px] article-text-block">
                    {{ metafieldParagraph_1 }}
                  </div>
                  {%- if metafieldPathImageDesktop_ib != blank -%}
                    <div class="my-5">
                      <img class="lazy hidden md:block h-[320px] w-full object-cover" src="{{ metafieldPathImageDesktop_ib | img_url: 'master' }}" alt="{{ metafieldPathImageDesktop_ib.alt }}" loading="lazy">
                    </div>
                  {%- endif -%}
                  {%- if metafieldPathImageMobile_ib != blank -%}
                    <div class="my-5">
                      <img class="lazy block md:hidden h-[320px] w-full object-cover" src="{{ metafieldPathImageMobile_ib | img_url: 'master' }}" alt="{{ metafieldPathImageMobile_ib.alt }}" loading="lazy">
                    </div>
                  {%- endif -%}

                  <!-- multitext-2 -->
                  <div class="my-3 text-base article-text-block">
                    {{ metafieldParagraph_2 }}
                  </div>
                </div>
              </div>

              <!-- block faqs -->
              {% if metafield_paragraph_faq != blank or metafield_question_faq != blank %}
                <div class="mt-8 bg-sable border-acajou border rounded-md px-4 {% if metafield_paragraph_faq != blank %} pt-4 {% else %} pt-0 {% endif %}">
                  {% if metafield_paragraph_faq != blank %}
                    <div class="my-2 text-sm">
                      {{ metafield_paragraph_faq }}
                    </div>
                  {% endif %}

                  {% render 'article-block-faqs'
                   , question_1: metafield_question_faq ,  answer_1: metafield_answer_faq
                   , question_2: metafield_2_question_faq , answer_2: metafield_2_answer_faq
                   , question_3: metafield_3_question_faq , answer_3: metafield_3_answer_faq
                   , question_4: metafield_4_question_faq , answer_4: metafield_4_answer_faq
                   , question_5: metafield_5_question_faq , answer_5: metafield_5_answer_faq
                   %}
                </div>
              {% endif %}


              <!-- button to collection -->
              {% if metafield_button != blank %}
                <div class="GrotesqueBold my-10 text-base text-white text-center max-w-[350px] mx-auto bg-acajou rounded-full py-2 px-10">
                  <a href="{{ metafield_button }}">Découvrir nos produits</a>
                </div>
              {% endif %}

              <!-- multitext-3 -->
              {% if metafieldParagraph_3 != blank %}
                <div class="my-3 text-base article-text-block">
                  {{ metafieldParagraph_3 }}
                </div>
              {% endif %}
            </div>
            <!-- close multiblock -->
          {%- endif -%}
        {% endif %}
      {% endfor %}
    </div>

    {%- assign related_products = article.metafields.custom.related_products.value -%}
    {%- assign related_product_text = article.metafields.custom.related_product_text -%}
    {%- if related_products -%}
      <div class="hidden md:block w-3/12">
        <h3 class="uppercase text-base mb-2">L’ARTICLE PHARE</h3>
        <div class="">
          {% for related_product in related_products %}
            {% render 'card-product'
             product: product
             , card_product: related_product
             , show_secondary_image: true
             , show_vendor: false
             , show_quick_add: true
             , class: 'mb-6'
             %}
          {% endfor %}
          <script>
            {%- liquid
                    assign categories = "Boissons et infusions,Coaching,Compléments alimentaires,Ebook,Granolas et porridges,Gummies,Lots et packs,Pâte à tartiner,Snacks et Moonies" | split: ','
                    for product_collection in product.collections
                      for categorie in categories
                        if product_collection.title contains categorie
                          assign product_categorie = categorie
                          break
                        endif
                      endfor
                    endfor
                  -%}
            dataLayer.push({
              'event': 'view_item_list',
              'ecommerce': {
                'currency': '{{ shop.currency }}',
                'items': [{% for related_product in related_products %}{
                      'item_id': '{{  related_product.id }}',
                      'item_name': '{{  related_product.title }}',
                      'quantity': 1,
                      'item_category': '{{ product_categorie }}',
                      'price': {{  related_product.price | divided_by: 100.00 }},
                      'item_discount':{% if  related_product.compare_at_price >  related_product.price %}{{  related_product.compare_at_price | minus:  related_product.price | divided_by: 100.00 }}
                      {% else %}
                        0.00
                      {% endif %}
                    }
                    {% unless forloop.last %},{% endunless %}{% endfor %}]
              }
            });
          </script>
        </div>
      </div>
    {%- endif -%}
  </div>
  <!--close flex -->
  <!-- related product box -->
  {% if related_product_text != blank and related_products != blank %}
    <div class="border-t border-b border-acajou flex flex-col items-center md:flex-row py-10 md:px-10 lg:px-20 gap-5 mt-10">
      <div class="w-full md:w-1/2">
        <h3 class="uppercase text-base mb-2">POURQUOI CE PRODUIT ?
        </h3>
        <div class="text-sm">
          {{ article.metafields.custom.related_product_text }}
        </div>
      </div>
      <div class="w-full md:w-1/2">
        {% for related_product in related_products limit:1 %}
          {% render 'card-product-inline'
           product: related_product
           , outline: white
           , show_secondary_image: true
           , show_vendor: false
           , show_quick_add: true
           , class: 'mb-6'
           %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {%- assign share_url = shop.url | append: article.url -%}
  <!-- share -->
  {% if section.settings.show_share %}
    <div class="mt-10 flex justify-center gap-3 items-center">
      <h3 class="uppercase text-[15px] mr-2">SHARE</h3>
      <div class="w-[30px] h-[30px] roundex-full border border-acajou rounded-full flex justify-center items-center">
        <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank">
          {% render 'icon-facebook', fill:'acajou' %}
        </a>
      </div>
      <!--<div class="w-[30px] h-[30px] roundex-full border border-acajou rounded-full flex justify-center items-center">
      {% render 'icon-mail' %}
      </div>-->
      <div class="w-[30px] h-[30px] roundex-full border border-acajou rounded-full flex justify-center items-center">
        <a href="sms://?&body=https://jollymama.com{{ product.url }}{{ page.url }}{{ article.url }}">
          {% render 'icon-sms' %}</a>
      </div>
      {{ article.url }}
      <div class="w-[30px] h-[30px] roundex-full border border-acajou rounded-full flex justify-center items-center">
        <a href="whatsapp://send?text=https://jollymama.com{{ product.url }}{{ page.url }}{{ article.url }}"> 
          {% render 'icon-whatsapp' %} 
        </a>
      </div>
    </div>
  {% endif %}

</div>
<style>
  .scroller::-webkit-scrollbar {
    display: none;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  }


  .article-text-block span {
    font-size: 24px;
    font-style: italic;
    color: #733E2B;
    margin: 10px 0;
    display: block;
    border-left: 2px solid #927254;
    padding-left: 10px;
  }

  .article-text-block ul {
    list-style: disc;
    margin-left: 20px;
  }
</style>
{% schema %}
  {
    "name": "Article Recette",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "Show date"
      }, {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "Show author"
      }, {
        "type": "checkbox",
        "id": "show_content",
        "default": true,
        "label": "Show article content"
      }, {
        "type": "checkbox",
        "id": "show_share",
        "default": true,
        "label": "Show share"
      }

    ],
    "blocks": [
      {
        "type": "side_box",
        "name": "side box",
        "limit": 4,
        "settings": [
          {
            "type": "select",
            "id": "radius",
            "options": [
              {
                "value": "None",
                "label": "Rounded none"
              }, {
                "value": "Top",
                "label": "Rounded top"
              }, {
                "value": "Bottom",
                "label": "Rounded bottom"
              }, {
                "value": "Full",
                "label": "Rounded full"
              }
            ],
            "default": "Top",
            "label": "Style border"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "background color",
            "default": "#F4FFAF"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#733E2B"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#733E2B"
          }
        ]
      }, {
        "name": "Multibloc",
        "type": "richText",
        "settings": [
          {
            "type": "select",
            "id": "textPosition",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Text Position"
          }
        ]
      }, {
        "name": "Summary",
        "type": "summary",
        "limit": 1,
        "settings": []
      }, {
        "name": "Sources",
        "type": "sources",
        "limit": 1,
        "settings": []
      }
    ]
  }
{% endschema %}
