<section class="flex flex-col justify-evenly w-full py-12"
  style="background-color: {{ section.settings.background_color}}">
  <h1 class=" text-center text-sm font-[900] uppercase md:text-base" style="color: {{ section.settings.header_color}}">
    {{ section.settings.subtitle }}
  </h1>
  <div class=" text-xl text-center font-[100] md:text-4xl" style=" color: {{ section.settings.text_color}} ">
    {{ section.settings.text }}
  </div> 
</section>
{% schema %}

{
"name": "Text banner",
"settings": [
{
"type": "text",
"id": "subtitle",
"label": "Subtitle",
"default": "About us"
},
{
"type": "richtext",
"id": "text",
"label": "Text banner",
"default": "<p>Jolly Mama, c'est notre histoire...</p>"
},
{
"type": "color",
"id": "background_color",
"label": "background color",
"default": "#F4FFAF"
},
{
"type": "color",
"id": "header_color",
"label": "Heading color",
"default": "#927254"
},
{
"type": "color",
"id": "text_color",
"label": "Text color",
"default": "#927254"
}
],
"presets": [
{
"name": "Text banner"
}
]
}


{% endschema %}
